.mis-ofertas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;

}


@media screen and (max-width:1600px) {
    .mis-ofertas-grid{
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 20%;
    }
}

@media screen and (max-width:700px) {
    .mis-ofertas-grid{
        display: flex;
        flex-direction: column;
        margin-bottom: 11%;
    }
}