.card-heading {
    display: grid;
    grid-template-columns: 72% 11% 15%;
    /*Si un puesto de trabajo tenía muchas letras provocaba que fuera más alto que 
    el resto de sus hermanos y grid-auto-rows: 1fr no iba, así que lo force con
    una unidad absoluta*/
    grid-template-rows: 50px;
    justify-items: right;
    align-items: center;

    border-radius: 8px 8px 0px 0px;
    background-color: green;
    padding: 4%;
}

.card-heading > h4 {
    margin: 0;
    justify-self: left;

    font-weight: normal;
    font-size: 1.2rem;
    color: white;
}
