.header-login{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.header-login > a{
    font-size: 1rem;
    margin: 0% 5%;

}

.header-login > img {
    cursor: pointer;
}

#logout{
    margin-right: 5%;
}
