.header-login{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.header-login > a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    word-break: break-all;
    align-self: center;
}

.header-login > img {
    cursor: pointer;
    margin-left: 2%;
}

