.green-button{
    cursor: pointer;
    background-color: green;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;

    border: 0;
    border-radius: 8px;
    padding: 1%;

    margin-bottom: 2%;
}

.red-button {
    cursor: pointer;
    background-color: rgb(235, 9, 9);
    color:white;
    text-align: center;
    font-size: 1rem;

    border: 0;
    border-radius: 8px;
    padding: 1%;

    margin-bottom: 2%;
}

.blue-button {
    cursor: pointer;
    background-color: rgb(60, 144, 229);
    color:white;
    text-align: center;
    font-size: 1rem;

    border: 0;
    border-radius: 8px;
    padding: 1%;

    margin-bottom: 2%;
}

.nube {
    border-radius: 8px;
    background-color: white;
}

