.heading-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 0;
}

.form-input {
    border: 0;
    border-bottom: solid 1px black;
    background-color: rgba(0, 0, 0, 0);
}

.form-label{
    font-size: 1.2rem;
    margin-bottom: 1%;
}

.mensaje-error{
    color : red;
}