.login-container{
    margin: 0 auto;
    width: 15vw;
}

.login-container > img{
    display: flex;
    justify-self: center;
    margin: 0% auto;
}

@media screen and (max-width:1600px) {
    .login-container{
        width: 35vw;
    }
}

@media screen and (max-width:700px) {
    .login-container{
        width: 65vw;
    }
}