.job-page{
    display: grid;
    grid-template-columns: 23% 70%;
    column-gap: 5%;
    margin-top: 4vh;
}


@media screen and (max-width:1600px) {
    .job-page{
        display: flex;
        flex-direction: column;
    }
}