.jobsGrid{
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
    margin-top: 5vh;
}

.jobsGrid h3{
    margin: 0;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
}