.entidad-card{
    list-style-type: none;
    margin: 2% 0%;
    padding: 2%;
}

.entidad-card label {
    margin: 0%;
    
    font-weight: normal;
    font-size: 1.2rem;
}

.entidad-card  p {
    margin: 3% 0% 2%;
    cursor: pointer;
}

.entidad-card-section {
    display: grid;
    grid-template-columns: 45% 45% 10%;
}

.entidad-card-section > div {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.green-button {
    width: 60%;
}


/*¿Sabes ese azul raro que a veces se queda en un input en el navegador, sobre todo
cuando editas una entidad, rerendirizas el componente padre y se queda ahí?
Así es como se quita*/
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active { 
    -webkit-box-shadow: 0 0 0 1000px white inset !important; 
    /* Cambia el color de fondo */ 
    -webkit-text-fill-color: #000 !important; 
    /* Cambia el color del texto */ 
    box-shadow: 0 0 0 1000px white inset !important; 
    /* Asegura compatibilidad con navegadores */ 
    text-fill-color: #000 !important; /* Asegura compatibilidad con navegadores */
}