.entidad-card{
    list-style-type: none;
    margin: 2% 0%;
    padding: 2% 2% 2%;
}

.entidad-card input{
    width: 95%;
}

.entidad-card label {
    margin: 0%;
    
    font-weight: normal;
    font-size: 1.2rem;
}


.entidad-card  p {
    margin: 3% 0% 2%;
    cursor: pointer;
}

.entidad-card-section {
    display: grid;
    grid-template-columns: 45% 45% 10%;
}

.entidad-card-section > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.green-button {
    width: 60%;
}

@media screen and (max-width:700px) {

    .entidad-card-section{
        grid-template-columns: 50% 50%;
    }


    .entidad-card-section > div:last-child{
        justify-self: end;
    }

    .entidad-card input{
        width: 90%;
    }

    .entidad-card-section > div.div-opciones {
        grid-row: 1;
        grid-column: 1/ 3;
        margin-bottom: 2%;
    }

    form > .ultimo-section{
        grid-template-columns: 30% 70%;
    }

    form > section.ultimo-section button{
        justify-self: end;
    }
}
