.mi-perfil-content {
    margin: 2vh 0;

    display: grid;
    grid-template-columns: 18% 60%;
    
    gap: 3%;
    flex: 1;
}

.barra-lateral { 
    grid-row: 1 / span 2; 
    height: auto; 
    
}