@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&family=Roboto&family=Tajawal:wght@500&display=swap');

*{
    font-family: "Tajawal";
    font-size: 20px;
}

body{
    margin: 0;
}

/*Necesario para situar el footer al fondo*/
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}


#root > *{
    margin-left: 10vw;
    margin-right: 10vw;
}

#root > header.wk-header{
    margin: 0px;
}

#root > footer.wk-footer{
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
}

/*¿Sabes ese azul raro que a veces se queda en un input en el navegador, sobre todo
cuando editas una entidad, rerendirizas el componente padre y se queda ahí?
Así es como se quita*/
/* Sobrescribir el estilo del autofill en Chrome */
input:-internal-autofill {
    background-color: rgba(0,0,0,0)  !important;
}


@media screen and (max-width: 700px) {
    #root > *{
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
