.nuevo-usuario-titular {
    margin-top: auto;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;
}

.nuevo-usuario-subtitular {
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 1.5%;

}