.check-password-container {
    width: 70%;
    /*Pisas los márgenes de index.css. Tiene que haber una mejor solución*/
    margin: auto !important;
    padding-left: 2%;
}

.check-password-container h2 {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 1% 0;
}

.check-password-container p {
    margin: 0;
    margin-bottom: 1%;
}

.check-password-container div {
    display: grid;
    grid-template-columns: 20% 40%;
    gap: 2%;
    align-items: center;
    margin-bottom: 1%;
}